[Unit]
Description=CHIP graceful shutdown when ACIN and VBUS power is down
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/autopoweroffd

[Install]
WantedBy=multi-user.target

